@import "src/utils/styles/breakpoints";

$appBar-primary-color: #ffffff;
$shadow-hoffset: 0px;
$shadow-voffset: 0px;
$shadow-blur: 5px;
$shadow-spread: 0px;
$shadow-color: rgba(0, 0, 0, 0.6);

.appBar {
  z-index: 1000;
  position: sticky;
  top: 0;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $appBar-primary-color;
  -webkit-box-shadow: $shadow-hoffset $shadow-voffset $shadow-blur $shadow-spread $shadow-color;
  -moz-box-shadow: $shadow-hoffset $shadow-voffset $shadow-blur $shadow-spread $shadow-color;
  box-shadow: $shadow-hoffset $shadow-voffset $shadow-blur $shadow-spread $shadow-color;
}

.searchField {
  min-width: 600px !important;
  max-width: 600px !important;
  @include bp-medium {
    min-width: unset !important;
    //max-width: unset !important;
  }
}

.spacer {
  padding: 0 10px;
  width: 600px;
  @include bp-medium {
    width: unset;
    flex: 1;
  }
}

.appBarLink {
  padding: 0 10px;
}

.logo {
  //background-color: #F26D85;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  @include bp-1200px {
    display: none;
  }
}

.controls {
  //background-color: #F26D85;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  @include bp-1200px {
    display: none;
  }
}

.frontLogo {
  @extend .logo;
  @include bp-1200px {
    display: flex;
  }
}

.frontControls {
  @extend .controls;
  @include bp-1200px {
    display: flex;
  }
}

.controlsButton {
  padding: 0 5px;
}
