@import "src/utils/styles/breakpoints";
@import "src/utils/styles/colors";

$shadow-hoffset: 0px;
$shadow-voffset: 2px;
$shadow-blur: 10px;
$shadow-spread: 2px;
$shadow-color: rgba(0, 0, 0, 0.1);


.jobsContainer {
  background-color: #f2f2f2;
}

.stickyAppBar {
  z-index: 1000;
  position: sticky;
  top: 0;
}


.jobsList {
  padding: 20px 0;
  flex: 1;
  max-width: 600px !important;
  min-width: 600px !important;
  background-color: #ffffff;
  -webkit-box-shadow: $shadow-hoffset $shadow-voffset $shadow-blur $shadow-spread $shadow-color;
  -moz-box-shadow: $shadow-hoffset $shadow-voffset $shadow-blur $shadow-spread $shadow-color;
  box-shadow: $shadow-hoffset $shadow-voffset $shadow-blur $shadow-spread $shadow-color;
  @include bp-600px {
    max-width: unset !important;
    min-width: unset !important;
  }
}

.filterPaneLeft {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include bp-1200px {
    display: none;
  }
}

.filterPaneRight {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include bp-1200px {
    display: none;
  }
}
