$color-first: #F26D85;
$color-second: #BF214B;
$color-third: #C1D0D9;
$color-fourth: #0E6973;
$color-fifth: #0E7373;

.applyColorFirst {
  background-color: $color-first;
}

.applyColorSecond {
  background-color: $color-second;
}

.applyColorThird {
  background-color: $color-third;
}

.applyColorFourth {
  background-color: $color-fourth;
}

.applyColorFifth {
  background-color: $color-fifth;
}

