$shadow-hoffset: 1px;
$shadow-voffset: 1px;
$shadow-blur: 5px;
$shadow-spread: 1px;
$shadow-color: rgba(0, 0, 0, 0.1);


.filterWindow {
  margin: 10px;
  width: 250px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  flex: min-content;
  -webkit-box-shadow: $shadow-hoffset $shadow-voffset $shadow-blur $shadow-spread $shadow-color;
  -moz-box-shadow: $shadow-hoffset $shadow-voffset $shadow-blur $shadow-spread $shadow-color;
  box-shadow: $shadow-hoffset $shadow-voffset $shadow-blur $shadow-spread $shadow-color;
}


.filterBody {
  padding: 10px 0;
  font-size: 14px;
}
