@import "src/styles/colors";
@import "src/styles/breakpoints";

.LoginCol {
  padding-left: 50px !important;
  display: flex;
  align-items: center;
  justify-content: unset;
  @include bp-768px {
    padding-left: 0 !important;
    padding-bottom: 50px !important;
    padding-top: 50px;
    align-items: unset;
    justify-content: center;
  }
}


.titleTexts {
  color: white;
}

.titleTexts h1 {
  font-size: 90px;
}

.titleTexts h2 {
  font-size: 20px;
}
