
$shadow-hoffset: 1px;
$shadow-voffset: 1px;
$shadow-blur: 5px;
$shadow-spread: 2px;
$shadow-color: rgba(0, 0, 0, 0.1);

.post {
  width: 100%;
  background-color: #ffffff;
  margin-top: 20px;
  border-radius: 5px;
  padding: 20px;

  -webkit-box-shadow: $shadow-hoffset $shadow-voffset $shadow-blur $shadow-spread $shadow-color;
  -moz-box-shadow: $shadow-hoffset $shadow-voffset $shadow-blur $shadow-spread $shadow-color;
  box-shadow: $shadow-hoffset $shadow-voffset $shadow-blur $shadow-spread $shadow-color;
}


.postTitle {
  font-weight: bold;
}

.postDescription {
  white-space: pre-line;
  padding-top:20px;
  padding-bottom: 20px;
  word-wrap: break-word
}

.postDetails {
  text-align: right;
  font-size: 10px;
}

.postTime {
  font-size: 12px;
}
